body {
font-family: Verdana,Arial,Helvetica,sans-serif;
font-size: 14px;
line-height: 1.4;
font-style: normal;
font-weight: normal;
font-variant: normal;
margin-top: 30px;
margin-bottom: 30px;
margin-left: 10px;
margin-right: 10px;
}

table.stat {
border-collapse: collapse;
border: 3px ridge #ccc;
margin-top: 10px;
margin-bottom: 10px;
}

table.stat th, table.stat td {
border-collapse: collapse;
padding: 4px;
}

table.stat th {
border-color: #555555;
border-style: solid;
border-width: 1px;
background-color: #F9F9F9;
}

table.stat td {
border-color: #BBBBBB;
border-style: solid;
border-width: 1px;
}

table.info {
border-collapse: collapse;
border: 3px ridge #ccc;
margin-top: 10px;
margin-bottom: 10px;
}

table.info th, table.info td {
border-collapse: collapse;
padding: 4px;
}

table.info th {
border-color: #BBBBBB;
border-style: solid;
border-width: 1px;
background-color: #F9F9F9;
}

table.info tr {
background-color: #F9F9F9;
}

table.info td {
border-color: #BBBBBB;
border-style: solid;
border-width: 1px;
}

table.left1  td:nth-child(1)  {text-align: left;}
table.left2  td:nth-child(2)  {text-align: left;}
table.left3  td:nth-child(3)  {text-align: left;}
table.left4  td:nth-child(4)  {text-align: left;}
table.left5  td:nth-child(5)  {text-align: left;}
table.left6  td:nth-child(6)  {text-align: left;}
table.left7  td:nth-child(7)  {text-align: left;}
table.left8  td:nth-child(8)  {text-align: left;}
table.left9  td:nth-child(9)  {text-align: left;}
table.left10 td:nth-child(10) {text-align: left;}

table.center1  td:nth-child(1)  {text-align: center;}
table.center2  td:nth-child(2)  {text-align: center;}
table.center3  td:nth-child(3)  {text-align: center;}
table.center4  td:nth-child(4)  {text-align: center;}
table.center5  td:nth-child(5)  {text-align: center;}
table.center6  td:nth-child(6)  {text-align: center;}
table.center7  td:nth-child(7)  {text-align: center;}
table.center8  td:nth-child(8)  {text-align: center;}
table.center9  td:nth-child(9)  {text-align: center;}
table.center10 td:nth-child(10) {text-align: center;}

p.text {
text-indent: 20px;
}
